@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.container {
  max-width: 1320px;
  margin: 0 auto;
}
body {
  font-family: "Lexend", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
  user-select: none;
}
img {
  height: 100%;
  object-fit: cover;
}
:root {
  --primary: #efa213;
  --secondary: #fcab14;
  --text: #636363;
  --gray: #3d3c3c;
  --white: #ffffff;
  --black: #000000;
  --fwhite: #f8f9fa;
  --e-white: #e8e1e1;
  --thim-main-menu-text-hover-color: #fc5739;
  --thim-sticky-bg-main-menu-color: #0a397f;
  --thim-sticky-main-menu-text-color: #333333;
  --thim_sticky_main_menu_text_color_rgb: 51, 51, 51;
  --thim-sticky-main-menu-text-hover-color: #fc5739;
  --thim-sub-menu-border-color: rgba(43, 43, 43, 0);
  --thim-sub-menu-text-color: #999;
  --thim-sub-menu-text-color-hover: #333;
  --thim-mobile-menu-text-color: #777;
  --thim-mobile-menu-text-hover-color: #2e8ece;
  --thim-font-body-color: #636363;
  --thim-font-title-color: #3d3c3c;
}
.swiper-pagination-horizontal {
  display: flex;
  align-items: center;
  justify-content: center;
}
.swiper-pagination-bullet {
  cursor: pointer;
  width: 10px !important;
  height: 10px !important;
  border: 1px solid var(--primary) !important;
  background-color: white !important;
}
.swiper-pagination-bullet-active {
  width: 15px !important;
  height: 15px !important;
  background-color: var(--primary) !important;
}
img {
  width: 100%;
}
.active {
  color: var(--primary);
}
.banner_container {
  background-color: var(--fwhite);
  padding: 30px;
}
.banner_container h2{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  color: var(--gray);
  line-height: 1.3em;
  font-weight: 600;
}
.banner_item{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  padding-top: 20px;
}
.banner_item a:hover{
color: var(--primary);
transition: all .3s ease-in-out;
}